<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>500 : We're sorry, but something went wrong : SiteName</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/v1/stylesheets/errors.css" rel="stylesheet">
</head>
<body>
  <div class="content-wrap">
    <div class="content">
      <div class="header">
        <h1 id="logo"><a href="/">SiteName</a></h1>
      </div>
      <div class="dialog">
        <h2>You've encountered a server error (500).</h2>
        <p>A site administrator has been notified and is working to fix the problem.</p>
      </div>
    </div>
  </div>
</body>
</html>