<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <title>503 : Under Maintenance : Site Name</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href='/v1/stylesheets/errors.css' rel='stylesheet'>
  </head>
  <body class="internal">
    <div class="content-wrap">
      <div class="header">
        <h1 id="logo">
          <a href="/">Site Name</a>
        </h1>
      </div>
      <div class="dialog">
        <h2>The site is currently under maintenance (503).</h2>
        <p>The site should be back soon.</p>
      </div>
    </div>
  </body>
</html>