!!!5
%html{:lang => "en"}
%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %title 503 : Under Maintenance : Site Name
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %meta{:name => "description", :content => ""}
  %meta{:name => "keywords", :content => ""}
  %link{:href => "/v1/stylesheets/errors.css", :rel => "stylesheet"}
%body
  .content-wrap
    .header
      %h1#logo
        %a{:href => "/"} Site Name
    .dialog
      %h2 The site is currently under maintenance (503).
      %p The site should be back soon.