<footer id="site-footer">
  <div class="container">
    <section id="social-media">
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Tumblr</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Flickr</a></li>
      </ul>
    </section>
    <nav id="footer-nav">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Acknowledgements</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </nav>
    <section id="contact-information">
      <!-- the HAML implementation can be found here: https://gist.github.com/3827778 -->
      <article class='vcard' id='organization-info' itemscope itemtype='http://schema.org/Organization'>
        <h1 class='fn org' itemprop='name'>Company Name</h1>
        <div class='adr' itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
          <span itemprop='streetAddress'>
            <span class='street-address'>555 Main Street,</span>
            <span class='extended-address'>Suite 200</span>
          </span>
          <span class='locality' itemprop='addressLocality'>Pittsburgh,</span>
          <span class='region' itemprop='addressRegion'>PA</span>
          <span class='postal-code' itemprop='postalCode'>15222</span>
        </div>
        <span class='tel' itemprop='telephone'> 555-1212</span>
        <a href="mailto:company@example.com" class="email" itemprop="email">Email Us</a>
      </article>
    </section>
    <p id="copyright">Copyright statement here.</p>
  </div>
</footer>