<%= erb :"/v1/partials/_header.html" %>
  <%= erb :"/v1/partials/_site-header.html" %>
  <section class="main-content" role="main">
    <!-- MOVE THIS ASIDE IN THE MARKUP AS NEEDED -->
    <aside class="secondary" role="complementary">
      <nav class="secondary-navigation" role="navigation">
        <ul>
          <li class="home"><a href="#">Secondary Nav Item</a></li>
          <li class="section"><a href="#">Secondary Nav Item</a></li>
          <li class="subnav current">Secondary Nav Item</li>
          <li class="subnav"><a href="#">Secondary Nav Item</a></li>
          <li class="subnav current"><a href="#">Secondary Nav Item</a></li>
        </ul>
      </nav>
    </aside>
    <!-- END ASIDE/SIDEBAR CONTENT -->
    <!-- BEGIN PRIMARY CONTENT -->
    <section class="primary">
      <div class="breadcrumbs-wrapper">
        <ol class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li><a href="#">First Level</a></li>
          <li>Current Page</li>
        </ol>
      </div>
      <h1 class="page-title">Internal Page</h1>
      <h2 class="page-subtitle">Subtitle For This Page</h2>
      <form action="#" role="form">
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" placeholder="First Name:" />

        <label for="last-name">Last Name:</label>
        <input type="text" name="last-name" placeholder="Last Name:" />

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email:" />

        <label for="tel">Phone:</label>
        <input type="tel" name="tel" placeholder="Phone:" />

        <label for="message">Message:</label>
        <textarea name="message" placeholder="Your Message:"></textarea>
      </form>
    </section>
    <!-- END PRIMARY CONTENT -->
  </section>
  <%= erb :"/v1/partials/_site-footer.html" %>
<%= erb :"/v1/partials/_footer.html" %>