<%= erb :"/v1/partials/_header.html" %>
  <%= erb :"/v1/partials/_site-header.html" %>
  <section id="main-content">
    <div class="container">
      <section id="featured">
        <!-- if .subtitle exists, wrap these headings in <hgroup></hgroup> -->
        <h1 class="title">Featured Title</h1>
        <h2 class="subtitle">Subtitle</h2>
        <h3>What the hell?</h3>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
      </section>

      <section id="descriptive-name-of-section">
        <!-- if .subtitle exists, wrap these headings in <hgroup></hgroup> -->
        <h1 class="title">Name of Section</h1>
        <h2 class="subtitle">Subtitle</h2>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
        <article class="related">
          <h1>A Related Item</h1>
          <p>An excerpt from this related item.</p>
          <a href="#" class="read-more">Read More</a>
        </article>
      </section>
    </div>
  </section>
  <%= erb :"/v1/partials/_site-footer.html" %>
<%= erb :"/v1/partials/_footer.html" %>