%section.main-content{:role => "main"}
  .container
    %section.featured
      %h1.title Featured Title
      %h2.subtitle Subtitle
      
      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More

    %section.descriptive-name-of-section
      %h1.title Name of Section
      %h2.subtitle Subtitle

      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h1 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More