%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'v1/partials/_breadcrumbs.html'
    %section.primary      
      %h1.page-title Internal Page
      %h2.page-subtitle Subtitle For This Page

      -# EXAMPLE MARKUP FOR A LEAD IMAGE
      %img{:class => "lead-image", :src => "/wireframe/images/image-lg.jpg", :alt => "A Lead Image"}

      -# EXAMPLE MARKUP FOR A SPECIAL/"INTRO" PARAGRAPH
        %p.intro Lorem ipsum dolor sit amet

      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>. Sed dignissim lacinia nunc.

      %p Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. <strong>Curabitur tortor</strong>. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.

      -# EXAMPLE MARKUP FOR AN INLINE IMAGE
      -#
      %figure.inline-image
        %img{:src => "/wireframe/images/image-lg.jpg"}
        %figcaption
          This is the image caption text.

      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
      
      %h2 Second-level Heading
      
      %p Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.
      
      %ul
        %li A list item.
        %li Another list item.
        %li
          A third list item.
          %ul
            %li Sub item number one.
            %li Second sub item.
        %li The final list item.

      %h3 Third-level Heading
      
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
      
      %h4 Fourth-level Heading
      
      %p Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.
      
      %h5 Fifth-level Heading
      
      %ol
        %li First ordered list item.
        %li
          Second item.
          %ol
            %li First sub item.
            %li Second sub item.
            %li Third sub item.
        %li
          Third item.
          %ul
            %li Unordered sub
            %li Another unordered sub
            
      %h6 Sixth-level Heading

      %p Lorem ipsum dolor sit amet sed dignissim lacinia nunc.
    -# MOVE THIS ASIDE IN THE MARKUP AS NEEDED
    %aside.secondary{:role => "complementary"}
      = haml :'v1/partials/_secondary-navigation.html'