<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <title>404 : Page Not Found : Site Name</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href='/v1/stylesheets/errors.css' rel='stylesheet'>
  </head>
  <body class="internal">
    <div class="content-wrap">
      <div class="header">
        <h1 id="logo">
          <a href="/">Site Name</a>
        </h1>
      </div>
      <div class="dialog">
        <h2>Sorry, but the page you were looking for doesn't exist (404).</h2>
        <p>You may have mistyped the address or the page may have moved.</p>
        <p>Go to the <a href="/">SiteName homepage</a>.</p>
      </div>
    </div>
  </body>
</html>