%section.main-content{:role => "main"}
  .container
    %section.featured-group
      %h2.title Featured Title
      %h3.subtitle Subtitle
      
      %article.featured
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more button-highlight"} Read More
      
      %article.featured
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more button"} Read More
      
      %article.featured
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more button-subtle"} Read More

    %section.related-group
      %h2.title Name of Section
      %h3.subtitle Subtitle

      %article.related
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More
      
      %article.related
        %h4 A Related Item
        %p An excerpt from this related item.
        %a{:href => "#", :class => "read-more"} Read More