%nav.secondary-navigation{:role => "navigation"}
  %ul
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item