%nav.secondary-navigation{:role => "navigation"}
  %h2
    %a{:href => "#"} Top-Level Section  
  %ul
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item
    %li
      %a{:href => "#"} Secondary Nav Item