<header id="site-header">
  <div class="container">
    <h1 id="site-name"><a href="/">Site Name</a></h1>
    
    <!-- Use an image for your logo -->
    <a href="#"><img id="main-logo" src="" alt="" />

    <nav id="primary-navigation">
      <ul>
        <li><a href="/internal.html">Internal</a></li>
        <li><a href="/internal.html">Internal Two</a></li>
        <li><a href="/internal.html">Internal Three</a></li>
      </ul>
    </nav>
  </div>
</header>