// site-wide form styles

// get rid of "default" iOS button styling for submit buttons
input[type=submit] {
  @include appearance(none);
}

input[type="submit"],
button[type="submit"] {
  @include button-form;
  @include box-sizing(border-box);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
textarea {
  padding: 0.5em 0.65em;
  @include box-sizing(border-box);
  @include border-radius(2px);
  color: $text-color-subtle;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 500px;
  border: 1px $border-color solid;
}

form label {
  display: block;
}