// styles not specific to any particular site page.
// place things like "general" paragraph styles, heading styles, base list styles, etc. here.

// if you're calling the container mixin, you can define a custom max-width
// otherwise, the max-width's default value is 81.25em (1300px)
//.container {
//  @include container(70em);
//}

// enable border-box sizing for all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  @include box-sizing(border-box);
}

.container {
  // change your max-width like so:
  // @include container(68.75em);
  // default max-width is 81.25em (1300px)
  @include container;
  width: 95%;
}

html {}

body {}

p {}

a {
  &:hover,
  &:focus {
  }
}

ul {
  li {
    list-style: disc;
    li {
      font-size: inherit;
    }
  }
}

ol {
  li {
    list-style: decimal;
    li {
      font-size: inherit;
    }
  }
}

strong,
bold {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}