///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
}

.primary-navigation {
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

// usually, an h1 that you're visually hiding with css
.site-name {
}

.main-logo {
}