// homepage-specific styles

body {
    background: url(/v1/images/white-texture.jpg) top center no-repeat;
}

// Temporary Fix for Mock Up.


.featured-image-mobile {
  img {
    max-width:100%;
  }
}

@media (min-width: 44em) {
  .featured-image-mobile {
    display:none;
  }
}

// End ----Temporary Fix for Mock Up.


.featured-products {
  display:none;
  img {
    max-width:100%;
  }
  h1 {
    text-align:center;
    display:none;
    font-size:0.875em;
  }
}

@media (min-width: 44em) {
  .featured-products {
    display:block;
    margin-bottom:0.5em;
  }
}

#home-products {
  background-color:$background-color;
  margin:2em 0;
  padding:3em 0;
  text-align:center;

  h1 {
    font-size:2em;
    margin-bottom:0;
  }

  .subtitle {
    margin-bottom:2em;
  }

  h1, h2, p {
    color:$light-text-color;
  }

  .product {
    margin-bottom:2em;
    h1 {
      font-size:1em;
    }
  }
 
  img {
    max-width:100%;
  }
}

@media (min-width: 34em) {
  #home-products {
    @include pie-clearfix;
    .product {
      @include column(6);
      @include last-col2;
    }
  }
}

@media (min-width: 44em) {
  #home-products {
    .product {
      @include column(4);
      @include last-col3;
    }
  }
}

@media (min-width: 56em) {
  #home-products {
    .product {
      @include column(3);
      @include last-col4;
    }
  }
}