// Styling for generic wireframe appearance

html {
  background-color: $footer_color;  
}

.site-header {
  background-color: $background_color;
}

.main-content {
  @include pie-clearfix;
  padding-bottom: 1em;
  background-color: $background_color;
}

///// Forms
form .input {
  margin-bottom: 0.5em;
}

///// Internal
.breadcrumbs-wrapper {
  @include title-face;
  @include divider-top;
  @include divider-bottom;
  padding: 0.5em 0;
  margin-top: 0;
  .breadcrumbs {
    font-size: 0.875em;
    margin: 0;
    padding: 0 0.5em;

    li {
      list-style-type: none;
      @include inline-block;
      margin-right: 0.5em;
      margin-bottom: 0;
      .divider {
        margin-left: 0.5em;
        color: $text-color-subtle;
      }
    }
  }
}

.primary {
  margin-bottom: 2em;
  @include breakpoint($breakpoint-m) {
    @include column(8);
    @include last;
    float: right;
  }
}

.secondary {
  @include breakpoint($breakpoint-m) {
    @include column(4);
  }
}

.secondary-navigation {
  @include title-face;
  @include box-sizing(border-box);
  border: 1px solid $border-color;
  padding: 1em 0.5em 0.5em 0.5em;
  margin-bottom: 1.5em;

  ul {
    margin: 0;
    li {
      list-style-type: none;
      @include divider-top;

    }
    ul li {
      padding-left: 1em;
    }
  }
}

///// Footer 
.site-footer {
  background-color: $footer-color;
  color: $text-color-subtle;
  @include pie-clearfix;
  padding-top: 1em;
  a {
    @include link-reverse;
  }

  .social-media {    
    li {
      @include inline-block;
      a {
        @include inline-block;
        @include button-reverse;
      }
    }
  }

  .legal {
    .copyright {
      color: $text-color;
    }
  }
}